/***
*** Button Styles ***
***/

/*** Buttons ***/

.btn,
input[type="submit"] {
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  display: block;
  width: fit-content;
  background: transparent;
  border: 2px solid white;
  color: white;
  transition: background-color 0.3s, border 0.3s;
}

.btn.primary,
input[type="submit"] {
  background-color: var(--wp--preset--color--primary);
  border: 2px solid var(--wp--preset--color--primary);
}

.btn.primary:hover,
input[type="submit"]:hover {
  @apply text-primary bg-white;
}

.btn.secondary {
  background: var(--wp--preset--color--lightgrey);
  border: 2px solid var(--wp--preset--color--lightgrey);
}

.btn.secondary:hover {
  background: transparent;
  color: var(--wp--preset--color--lightgrey);
}

.btn.tertiary {
  background: #fff;
  border: 2px solid var(--wp--preset--color--primary);
  color: var(--wp--preset--color--primary);
}

.btn.tertiary:hover {
  background: var(--wp--preset--color--primary);
  border: 2px solid var(--wp--preset--color--primary);
  color: #fff;
}

.btn.primary.light-text:hover,
.btn.secondary.light-text:hover {
  color: #fff;
  border: 2px solid #fff;
}

main a:not(.btn):link,
#footer-phone a,
#footer-bottom a {
  @apply text-primary;
}

main a:not(.btn):hover,
#footer-phone a:hover,
#footer-bottom a:hover {
  @apply text-[#c54a40];
}
