/***
*** Site Footer ***
***/

footer#footer {
  @apply bg-lightgrey;

  color: #303030;
  padding: var(--space-6);

  div#footer-right {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  #footer-nav-row li:not(:last-child) {
    margin-right: var(--space-2);
  }
}
