/***
*** Global Styles ***
***/

#wpadminbar {
  top: unset;
  bottom: 0;
}

img.custom-logo {
  max-width: 250px;
  width: 100%;
}

main p,
#banner p {
  margin: var(--space-3) 0;
}

main ol,
main ul {
  list-style: disc;
  padding: 0 0 0 var(--space-3);
  margin: var(--space-3) 0;
}

/*** Flexible Content ***/

main section {
  padding: var(--space-12) var(--space-6);
}

main section div.container-inner {
  @apply w-full md:w-11/12 mx-auto max-w-screen-2xl;
}

@media (min-width: 1024px) {
  main section {
    @apply w-11/12 max-w-screen-2xl mx-auto;

    padding: var(--space-12) 0;
  }
}
